<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ex1</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <h1><a href="/">Link to Start Page</a></h1>
  <h1>Pham's Sample Form</h1>
  <form id="sampleForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>
    <br>
    <label for="paymentType">Payment Type:</label>
    <br>
    <input type="radio" name="payment" value="c" checked>Cash<br>
    <input type="radio" name="payment" value="card">Credit Card<br>
    <input type="radio" name="payment" value="gpay">Google Pay<br>
    <input type="radio" name="payment" value="apay">ApplePay<br>
    </select><br>
    <input type="checkbox" id="promotion" name="promotion">
    <label for="promotion">Sign me up for special promotions</label>
    <br>
    <br>
    <td valign="top">
      Preferred Location:
      <select name="location">
        <option value="la">Los Angeles</option>
        <option value="oc">Orange County</option>
        <option value="rs">Riverside</option>
        <option value="sd">San Diego</option>
      </select>
    </td>
    <br>
    <br>
    <button type="submit">Submit</button>
    <button type="reset">Cancel</button>
  </form>


  <script src="../js/ex1.js"></script>
</body>

</html>